{% extends 'JvbMemoriesMainBundle::base.html.twig' %}

{% block title %}
  Homepage
{% endblock %}

{% block top %}      
{% endblock top %}

{% block content %}

  <div class="container">
    <div id="top">A</div>
    <div class="outer">
      <div id="middle">

      </div>
    </div>
    <div id="bottom">C</div>  
  </div>
{% endblock %}

{% block bottom %}
{% endblock %}